.Navbar{
    background:linear-gradient(rgb(83, 21, 21),rgb(150, 30, 30)) !important
}


@media (max-width:595px){
    .linksmenu{
        font-size: 0.65rem !important;
    }
}

.navlink{
    color: white;
    text-decoration: none;
    margin:0 2%;
}
