.notificacion{
    color: white;
    position: relative;
}

.notificacion::after{
    content:attr(current-count);
    width: 25px;
    height: 25px;
    background-color: red !important;
    border-radius: 50%;
    position: absolute;
    top:-39px;
    right:-490px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    border: 3px solid rgb(83, 21, 21)
}

.cart{
    margin-left: 80%;
    
    width: 12%;    
}


@media (max-width:990px){
    .notificacion::after{
        top:-31px;
        right:-255px;
    }    
}
@media (max-width:768px){
    .cart{
        width: 40%;
    }

    .notificacion::after{
        top:-27px;
        width: 21px;
        height:21px;
        font-size: 7px;
        right:-115px;
    }    
}

@media (max-width:595px){
    .notificacion::after{
        width: 19px;
    height: 19px;
    font-size: 6px;
    top:-25px;
        right:-189px;
    }    
    
    .cart {
        width: 23%;
    }
}

@media (max-width:576px){
    .cart{
        margin-left: 70%;
    }
    
    .notificacion::after{
        width: 15px;
    height: 15px;
    font-size: 6px;
    top:-24px;
     right:-186px; 
    }    
}


@media (max-width:563px){
    

    .notificacion::after{
        width: 15px;
    height: 15px;
    font-size: 6px;
    top:-22px;
     right:-170px; 
    }    

}

@media (max-width:540px){
    .notificacion::after{
        right:-148px;
    }
}
@media (max-width:523px){
    .notificacion::after{
        right:-142px;
    }
}
@media (max-width:513px){
    .notificacion::after{
        right:-120px;
    }
}
@media (max-width:503px){
    .notificacion::after{
        right:-114px;
    }
}

@media (max-width:492px){
    .notificacion::after{
        width: 10px;
        top:-20px;
    height: 10px;
    font-size: 2px;
    right:-120px;
    }    
}
@media (max-width:476px){
    .notificacion::after{
        top:-14px;
    right:-102px;
    }    
}
@media (max-width:457px){
    .notificacion::after{
        
    right:-88px;
    }    
}
@media (max-width:445px){
    .notificacion::after{
        
    right:-76px;
    }    
}

@media (max-width:335px){
    .notificacion::after{
        width: 5px;
    height: 5px;
    font-size: 2px;
    top:-12px;
        right:-26px;
    }    
}