.itemdetail{
    border-radius: 30%;    
    background:radial-gradient(rgb(255, 201, 85),rgb(148, 124, 59));
    text-align: center;
}

h1{
    font-size: 1.1rem;
}

.itemdetail{
    font-weight: bold;
}


.itemdetail img{
    width: 40%;
    border-radius: 50%;
}

.volver{
    width: 10%;
}

@media (max-width:590px){
    h1{
        font-size: 1rem;
    }
}